<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style.css' />

<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="angularjs/home.js"></script>
</head>
<body ng-app="app" ng-controller="appController" ng-init="getItems()">
	<% include navbar %>
	<br />
	<br />
	<div class="row">
		<div class="col-xs-6 col-sm-3 thumbnail" ng-repeat="i in items">
			<a href="itemdetails?item_id={{i.id}}"> <img
				class="img-rounded img-responsive" src="images/item.jpg" alt="image">
			</a>
			<div class="caption">
				<a href="itemdetails?item_id={{i.id}}">
					<h3><font color="black">{{i.name}}</font></h3>
				</a>
				<p>{{i.desc}}</p>
			</div>
		</div>
	</div>
</body>
</html>