<div class="navbar navbar-darshit">
	<div class="container-fluid">
		<!-- Collect the nav links, forms, and other content for toggling -->
		<ul class="nav navbar-nav">
			<li><a href="authentication"><font color="black">Hi!
				</font>Sign in<font color="black"> or </font>register</a></li>
			<li><a href="authentication"><font color="black">Sell</font></a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#" class="glyphicon glyphicon-shopping-cart"><font
					color="black">Shopping Cart</font></a></li>
		</ul>
	</div>
</div>