<div class="container navbar-darshit">
		<!-- Collect the nav links, forms, and other content for toggling -->
		<ul class="nav navbar-nav">
			<li><a href="authentication">Hi! Sign in or register</a></li>
			<li><a href="authentication">Sell</a></li>
			<li><a href="authentication">Help &
					Contact</a></li>
		</ul>
		<!-- /.navbar-collapse -->
</div>