<!DOCTYPE html>
<html>
<head>
<title>Item Details</title>
<link rel='stylesheet' href='/stylesheets/style.css' />

<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="angularjs/item.js"></script>
</head>
<body ng-app="item" ng-controller="itemController"
	ng-init="getItemDetails(<%= item_id %>)">
	<% include navbar %>
	<br />
	<br />
	<div class="row">
		<div class="col-md-6">
			<div class="col-xs-6 col-sm-3 thumbnail" ng-repeat="i in items">
				<img class="img-rounded img-responsive" src="images/item.jpg"
					alt="image">
			</div>
		</div>
		<div class="col-md-6">
			<h3>{{details.name}}</h3>
			<h4>{{details.price}}</h4>
			<p>{{details.desc}}</p>
			<button class="btn btn-info" onclick="">Buy it now</button>
			<button class="btn btn-warning" onclick="">Add to cart</button>
		</div>
	</div>
</body>
</html>